.booking {
    width: 100%;
    background-color: #b0c4de;
    background: url("../../img/form-bg-desktop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.booking__container {
    margin: 0 auto;
    max-width: 1366px;
    width: 100%;
    padding: 50px 163px 50px;
}

.booking__title {
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 30px;
}

.booking__description {
    font-size: 18px;
    line-height: 27px;
    margin: 0;
    max-width: 350px;
}