.button {
  display: block;
  width: 100%;
  max-width: 303px;
  padding-top: 9px;
  padding-bottom: 10px;
  color: $color-dark-blue;
  background-color: $color-white;
  text-align: center;
  font-size: $fz-default-description;
  line-height: 21px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
