.header {
  @include container();
  background-color: transparent;
  z-index: 2;
  position: absolute;
  color: $color-white;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;

  &--menu-open {
    @include vp-767 {
      position: absolute;
      height: 100vh;
      width: 89vw;
      top: 0;
      right: 0;
      background-color: $color-white;
      flex-wrap: wrap;
      padding-top: 20px;
      padding-bottom: 40px;
      overflow: hidden;
    }
  }

  &--no-js {
    @include vp-767 {
      position: static;
      width: 100%;
      height: auto;
      flex-direction: column;
      align-items: center;
    }
  }

  @include vp-1023 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include vp-767 {
    align-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.header__logo-link {
  display: block;
}

.header__logo-icon {
  display: block;
  width: 70px;
  height: 38px;
  fill: $color-white;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}

.header__logo-link--custom .header__logo-icon {
  @include vp-767 {
    fill: $color-dark-blue;
  }
}

.header__nav {
  margin-left: auto;

  @include vp-767 {
    width: 100%;
    margin-left: 10px;
    margin-top: 40px;
  }
}

.header--no-js .header__nav {
  text-align: center;
}
