.header {
    width: 100%;
    background-color: transparent;
    z-index: 1;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 103px 0;

    @include vp-1023 {
       padding: 22px 45px 0; 
    }
}

.header__logo-icon {
    fill: $color-white;
    cursor: default;

    @include vp-1023 {
        width: 38px;
        height: 20px;
    }
}

.header__nav-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 35px;

    @include vp-1023 {
        column-gap: 23px;
    }
}

.header__nav-item {
    padding: 13px 0;
    display: flex;
    align-items: center;
}

.header__nav-link {
    font-size: 16px;
    line-height: 20px;
    color: $color-white;

    @include vp-1023 {
        font-size: 14px;
        line-height: 17px;
    }
}

.header__nav-item:hover .header__nav-link {
    color: $color-transparent-white;
}