.location {
    @include container();
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: $color-white;

    @include vp-1023 {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    @include vp-767 {
        flex-direction: column;
        padding-top: 65px;
        padding-bottom: 65px;
    }
}

.location__map {
    width: 560px;
    height: 306px;
    flex-shrink: 0;
    margin-right: 20px;
    background-color: $color-dark-blue;
    background: url("../img/map-desktop.png");

    @include vp-1023 {
        width: 324px;
        height: 335px;
    }

    @include vp-767 {
        margin: 14px auto 0;
        width: 290px;
        height: 316px;
        order: 1;
    }
}

.location__map-image {
    width: 100%;
    height: 100%;
}

.location__text {
    max-width: 500px;
    width: 100%;
    margin: 75px 0 30px;

    @include vp-1023 {
        max-width: 324px;
        margin: 65px 0 27px;
    }

    @include vp-767 {
        max-width: 100%;
        margin: 0 auto;
    }
}

.location__description {
    font-size: $fz-default-title;
    line-height: 27px;
    font-weight: 500;
    margin: 0;
}

.location__address {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    cursor: default;

    &--phone {
        cursor: pointer;
    }

    @include vp-1023 {
        margin-bottom: 22px;
    }
}

.location__address--phone:hover .location__address-link {
    color: rgba(1, 28, 64, 0.5);
}

.location__address--phone:hover .location__icon {
    fill: rgba(1, 28, 64, 0.5);
}

.location__icon {
    fill: $color-dark-blue;
    margin-right: 10px;
}
