.overlay {
 @include vp-767 {
  background-color: rgba(0, 43, 102, 0.5);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
 }
}

.overlay--menu-open {
  @include vp-767 {
    display: block;
  }
}
