.products {
    width: 100%;
    background-color: $color-white;
}

.products__container {
    padding: 95px 103px 120px;

    @include vp-1023 {
        padding: 100px 60px;
    }

    @include vp-767 {
        padding: 65px 25px;
    }
}

.products__title {
    text-align: center;
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 60px;

    @include vp-1023 {
        font-size: 26px;
        line-height: 39px;
    }

    @include vp-767 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 40px;
    }
}

.products__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

    @include vp-1023 {
        grid-template-columns: repeat(2, 1fr);
    }

    @include vp-767 {
        grid-template-columns: 1fr;
    }
}

.products__card {
    background-color: $color-dark-blue;
    color: $color-white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 386px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &--1 {
        background-image: url("../../img/card-desktop-1.png");
    }
    &--2 {
        background-image: url("../../img/card-desktop-2.png");
    }
    &--3 {
        background-image: url("../../img/card-desktop-3.png");
    }
    &--4 {
        background-image: url("../../img/card-desktop-4.png");
    }
    &--5 {
        background-image: url("../../img/card-desktop-5.png");
    }
    &--6 {
        background-image: url("../../img/card-desktop-6.png");
    }
    &--7 {
        background-image: url("../../img/card-desktop-7.png");
    }
    &--8 {
        background-image: url("../../img/card-desktop-8.png");
    }

    @include hover {
        background-image: none;
        padding: 35px 25px;
    }
}

.card__name {
    margin: 0;
    font-size: $fz-default-title;
    line-height: 18px;
    font-weight: 500;
}

.card__info {
    display: none;
    height: 100%;
}

.products__card:hover .card__info {
    display: flex;
    flex-direction: column;
}

.products__card:hover .card__name {
    display: none;
}

.card__title {
    margin: 0;
    margin-bottom: 25px;
    font-size: $fz-default-title;
    line-height: 18px;
    font-weight: 500;
}

.card__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.card__item {
    margin-bottom: 20px;
}

.card__item__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: $fz-default-description;
    line-height: 14px;
    font-weight: 500;
}

.card__item__description {
    margin: 0;
    font-size: $fz-default-description;
    line-height: 14px;
    font-weight: 400;
}

.card__button {
    width: 100%;
    background-color: $color-white;
    margin-top: auto;
    font-size: $fz-default-description;
    line-height: 14px;
    font-weight: 600;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
