.promo {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 650px;
    background-image: image-set(
        url("../../img/promo-bg-desktop.png") 1x,
        url("../../img/promo-bg-desktopx2.png") 2x
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: calc(50% - (1366px / 2) + 103px);
    padding-left: calc(50% - (1366px / 2) + 198px);

    @include vp-1023 {
        background-image: image-set(
            url("../../img/promo-bg-tablet.png") 1x,
            url("../../img/promo-bg-tabletx2.png") 2x
        );
        background-size: cover;
        min-height: 638px;
        padding-left: 45px;
        padding-right: 45px;
    }

    @include vp-767 {
        background-image: image-set(
            url("../../img/promo-bg-mobile.png") 1x,
            url("../../img/promo-bg-mobilex2.png") 2x
        );
        min-height: 500px;
        padding-left: 15px;
        padding-right: 15px;
    }
    box-shadow: 0 4px 4px 0 $color-transparent-black;
}

.promo--nojs {
    @include vp-767 {
        margin-top: 100px;
    }
}

.promo__title {
    color: $color-white;
    font-size: 54px;
    font-weight: 700;
    line-height: 65px;
    margin: 270px 0 10px;

    @include vp-1023  {
        margin-top: 268px;
        font-size: 50px;
        line-height: 60px;
    }

    @include vp-767 {
        margin-top: 176px;
        font-size: 36px;
        line-height: 45px;
    }
    
}

.promo__description {
    color: $color-white;
    font-size: 20px;
    line-height: 24px;
    margin: 0;

    @include vp-1023 {
        margin-left: 0;
        font-size: $fz-default-title;
        line-height: 22px;
    }
}