.promo {
    width: 100%;
    background-color: #4169e1;
    background: url("../../img/promo-bg-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 650px;
    margin-top: -85px;

    @include vp-1023 {
        background: url("../../img/promo-bg-tablet.png");
        min-height: 638px;
    }

    @include vp-767 {
        background: url("../../img/promo-bg-mobile.png");
        min-height: 500px;
    }
}

.promo__container {
    padding: 283px 103px 20px 103px;

    @include vp-1023 {
        padding: 270px 45px 20px;
    }

    @include vp-767 {
        padding: 175px 15px 20px;
    }
}

.promo__title {
    color: $color-white;
    font-size: 54px;
    font-weight: 700;
    line-height: 65px;
    margin: 0;
    margin-left: 95px;
    margin-bottom: 30px;

    @include vp-1023  {
        margin-left: 0;
        font-size: 50px;
        line-height: 60px;
    }

    @include vp-767 {
        font-size: 36px;
        line-height: 45px;
    }
    
}

.promo__description {
    color: $color-white;
    font-size: 20px;
    line-height: 24px;
    margin-left: 95px;

    @include vp-1023 {
        margin-left: 0;
        font-size: $fz-default-title;
        line-height: 22px;
    }
}