@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

//Центровщик - контейнер

@mixin container() {
  width: 100%;
  padding-left: calc-padding($desktop-padding);
  padding-right: calc-padding($desktop-padding);

  @media (max-width: $desktop-width-max) {
    padding-left: $desktop-padding;
    padding-right: $desktop-padding;
  }

  @media (max-width: $tablet-width-max) {
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;
  }

  @media (max-width: $mobile-width-max) {
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
  }
}


// Desktop first

@mixin vp-1023 {
  @media (max-width: ($vp-1024 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: ($vp-375 - 1px)) {
    @content;
  }
}


// не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
// этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта
